/* You can add custom styles here. */

// @import "plugins/numbered";

header {
    background-color: var(--header-color);
    height: $header-height;
    color: white;

    .container {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo {
            height: 100%;
            padding: 2rem 0;

            img {
                height: 100%;
            }
        }
    }
}

.book-menu .book-menu-content,
.book-toc .book-toc-content {
    position: relative;
}

.toc-container {
    border-left: solid 3px var(--neutral-300);
    li {
        padding-left: 1.6rem;
        font-weight: 600;
        a {
            color: var(--black-100);
            &:hover {
                color: var(--blue-100);
                opacity: 1;
            }
        }
        &:hover {
            box-shadow: -3px 0 0 0 var(--blue-100);
            // a {
            //     color: var(--blue-100);
            // }
        }
    }
}

.icon {
    &:before {
        content: "";
        display: inline-block;
        width: 1rem;
        height: 1rem;
        background-repeat: no-repeat;
        vertical-align: middle;
    }

    &.gitfork {
        &:before {
            background-image: url('svg/gitfork.svg');
        }
    }
}

.btn {
    background-color: var(--green);
    border-radius: $border-radius;
    color: #ffffff;
    padding: 1rem 2rem;
}

body {
    font-family: 'Roboto', sans-serif;
}

.fw-700 {
    font-weight: 700;
}

code {
    font-family: 'Roboto Mono', monospace;
}

h1, h2, h3, h4, h5 {
    font-family: 'Poppins', sans-serif;
}

.markdown {
     h1 {
        font-size: 3rem;
        font-weight: 600;
    }
}