/* You can add custom styles here. */

// @import "plugins/numbered";

.main-header {
    background-color: var(--header-color);
    color: white;

    a {
        color: #fff;
    }
    a:hover {
        text-decoration: underline;
    }

    .container {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 3rem;
        padding: 1rem;
        flex-wrap: wrap;

        .logo {
            padding: 1rem 0;

            img {
                height: 2rem;
                max-width: 100%;
            }
        }
    }
}

.book-search {
    margin-top: 0;
    input {
        border: 1px solid var(--blue-500);
    }
}

.book-menu a:hover {
    color: var(--blue-100);
    opacity: 1;
}

.book-menu .book-menu-content,
.book-toc .book-toc-content {
    position: relative;

    h3 {
        margin-top: 0;
    }
}

.toc-container {
    border-left: solid 3px var(--neutral-300);
    li {
        padding-left: 1.6rem;
        font-weight: 600;
        a {
            color: var(--black-100);
            &:hover {
                color: var(--blue-100);
                opacity: 1;
            }
        }
        &:hover {
            -webkit-box-shadow: -3px 0 0 0 var(--blue-100);
            -moz-box-shadow: -3px 0 0 0 var(--blue-100);
            box-shadow: -3px 0 0 0 var(--blue-100);
        }
    }
}

.icon {
    &:before {
        content: "";
        display: inline-block;
        width: 1rem;
        height: 1rem;
        background-repeat: no-repeat;
        vertical-align: middle;
    }

    &.gitfork {
        &:before {
            background-image: url('svg/gitfork.svg');
        }
    }
}

.btn {
    background-color: var(--green);
    border-radius: $border-radius;
    color: #ffffff;
    padding: 1rem 2rem;
    white-space: nowrap;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
}

.fw-700 {
    font-weight: 700;
}

code {
    font-family: 'IBM Plex Mono', monospace;
}

ul.hlist {
    display: flex;
    padding-left: 0;
    margin: 0;
    li {
        list-style-type: none;
        &+li {
            padding-left: 2rem;
        }
    }
}


.book-footer {
    hr {
        background-color: var(--neutral-300);
        border: none;
        height: 1px;
        margin-bottom: 2rem
    }
    .footer-title {
        font-family: "Proxima Nova", sans-serif;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 1rem;
    }
    .footer-logo {
        display: inline-block;
        height: auto;
        width: 5rem;
        vertical-align: middle;
        margin-left: 0.5rem;
    }
}

.markdown {
    figure {
        + h1, + h2 {
            margin-top: 0;
        }
    }

    h1, h2, h3, h4, h5 {
        font-family: 'Proxima Nova', sans-serif;
        font-weight: 600;
    }

    h1 {
        font-size: 3rem;
        border-bottom: 1px solid var(--neutral-300);
        padding-bottom: 1rem;
    }
    h2 {
        font-size: 1.8rem;
    }
}


@media screen and (max-width: $mobile-breakpoint) {
    .header-right {
        display: none;
    }
}