/* You can add custom styles here. */

// @import "plugins/numbered";

header {
    background-color: var(--header-color);
    height: $header-height;
    color: white;

    .container {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo {
            height: 100%;
            padding: 2rem 0;

            img {
                height: 100%;
            }
        }
    }
}

.book-search {
    margin-top: 0;
    input {
        border: 1px solid var(--blue-500);
    }
}

.book-menu a:hover {
    color: var(--blue-100);
    opacity: 1;
}

.book-menu .book-menu-content,
.book-toc .book-toc-content {
    position: relative;

    h3 {
        margin-top: 0;
    }
}

.toc-container {
    border-left: solid 3px var(--neutral-300);
    li {
        padding-left: 1.6rem;
        font-weight: 600;
        a {
            color: var(--black-100);
            &:hover {
                color: var(--blue-100);
                opacity: 1;
            }
        }
        &:hover {
            -webkit-box-shadow: -3px 0 0 0 var(--blue-100);
            -moz-box-shadow: -3px 0 0 0 var(--blue-100);
            box-shadow: -3px 0 0 0 var(--blue-100);
        }
    }
}

.icon {
    &:before {
        content: "";
        display: inline-block;
        width: 1rem;
        height: 1rem;
        background-repeat: no-repeat;
        vertical-align: middle;
    }

    &.gitfork {
        &:before {
            background-image: url('svg/gitfork.svg');
        }
    }
}

.btn {
    background-color: var(--green);
    border-radius: $border-radius;
    color: #ffffff;
    padding: 1rem 2rem;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
}

.fw-700 {
    font-weight: 700;
}

code {
    font-family: 'IBM Plex Mono', monospace;
}

ul.hlist {
    display: flex;
    padding-left: 0;
    margin: 0;
    li {
        list-style-type: none;
        &+li {
            padding-left: 2rem;
        }
    }
}


.book-footer {
    hr {
        background-color: var(--neutral-300);
        border: none;
        height: 1px;
        margin-bottom: 2rem
    }
    .footer-title {
        font-family: "Proxima Nova", sans-serif;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 1rem;
    }
    .footer-logo {
        display: inline-block;
        height: auto;
        width: 5rem;
        vertical-align: middle;
        margin-left: 0.5rem;
    }
}

.markdown {
    figure {
        + h1, + h2 {
            margin-top: 0;
        }
    }

    h1, h2, h3, h4, h5 {
        font-family: 'Proxima Nova', sans-serif;
        font-weight: 600;
    }

    h1 {
        font-size: 3rem;
        border-bottom: 1px solid var(--neutral-300);
        padding-bottom: 1rem;
    }
    h2 {
        font-size: 1.8rem;
    }
}

.area-header {
    color: var(--body-font-color);
}

ul.control-list {
    padding-left: 0;
}

.control-list, .control-list li {
    list-style-type: none;
    padding:0px;
    margin:0px;
}

.markdown .control-card {
    display: block;
    width: 110px;
    height: 110px;
    border: 1px solid black;
    padding: 10px;
    font-size: 12px;
    color: var(--neutral-100);
    font-weight: 600;
    &:hover {
        opacity: 0.7;
        text-decoration: none;
    }
    &:visited {
        color: var(--neutral-100);
    }
}

.card-row {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding-top: 10px;
}

h2.area-header{
    margin-bottom: 0px;
    margin-top: 1em;
}

.control-card.area-build.card-index-0 {
    
    background-color:  var(--green-300);
    border-color:  var(--green-400);    
}

.control-card.area-build.card-index-1 {
    background-color:  var(--green-200);
    border-color:  var(--green-300);
}

.control-card.area-build.card-index-2 {
    background-color:  var(--green-100);
    border-color:  var(--green-200);
}

.control-card.area-build.card-index-3 {
    background-color:  var(--green-100);
    border-color:  var(--green-100);
}

.control-card.area-build.card-index-4 {
    background-color:  var(--green-050);
    border-color:  var(--green-100);
}


.control-card.area-process.card-index-0 {
    background-color:  var(--blue-300);
    border-color: var(--blue-400);
}

.control-card.area-process.card-index-1 {
    background-color:  var(--blue-200);
    border-color: var(--blue-300);
}

.control-card.area-process.card-index-2 {
    background-color:  var(--blue-100);
    border-color: var(--blue-200);
}

.control-card.area-process.card-index-3 {
    background-color:  var(--blue-100);
    border-color: var(--blue-100);
}

.control-card.area-process.card-index-4 {
    background-color:  var(--blue-050);
    border-color: var(--blue-100);
}


.control-card.area-change.card-index-0 {
    background-color:  var(--yellow-300);
    border-color: var(--yellow-400);
}

.control-card.area-change.card-index-1 {
    background-color:  var(--yellow-200);
    border-color: var(--yellow-300);
}

.control-card.area-change.card-index-2 {
    background-color:  var(--yellow-100);
    border-color: var(--yellow-200);
}

.control-card.area-change.card-index-3 {
    background-color:  var(--yellow-100);
    border-color: var(--yellow-100);
}

.control-card.area-change.card-index-4 {
    background-color:  var(--yellow-050);
    border-color: var(--yellow-100);
}


div.control-card:hover {
    background-color: var(--blue-500) !important;
    border-color: var(--blue-500) !important;
    text-decoration: none;
}
