/* You can override SASS variables here. */

// @import "plugins/dark";
:root {
    --blue-100: #2459D1;
    --blue-200: #4B75D9;
    --blue-300: #7293E1;
    --blue-400: #D0D6E8;
    --blue-500: #000D40;
    --green-100: #29B57D;
    --green-200: #4FB98C;
    --green-300: #86CFB0;
    --green-400: #CBEADD;
    --green-500: #001D16;
    --red-100: #ED475C;
    --red-200: #F06173;
    --red-300: #F38593;
    --red-400: #FBD5DA;
    --red-500: #1F0808;
    --yellow-100: #F7C22E;
    --yellow-200: #F8CD54;
    --yellow-300: #F9D776;
    --yellow-400: #FBE6AA;
    --yellow-500: #1F1400;
    --orange-100: #FF8900;
    --neutral-100: #FFFFFF;
    --neutral-200: #F7F9FC;
    --neutral-300: #E6E7F2;
    --neutral-400: #CCCFE4;
    --neutral-500: #969BAC;
    --black-100: #171C21;
    --black-200: #626669;
    --black-300: #B3B4B6;
    --black-400: #DEDEDE;
    --black-500: #F7F7F7;
}